@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dash-card {
        @apply h-20;

        @apply p-2;
        @apply pt-0;

        /*@apply border-dashed;
        @apply border-2;
        @apply border-gray-700;*/
        @apply rounded-sm;

        @apply shadow-md;

        @apply bg-white;
    }

    .dash-card:active {
        @apply shadow-xl;
    }

    /* 1 recuadro vertical */
    .dash-card-x1 {
        @apply col-span-1;
    }

    /* 2 recuadros verticales */
    .dash-card-x2 {
        @apply col-span-2;
    }

    /* 3 recuadros verticales */
    .dash-card-x3 {
        @apply col-span-3;
    }

    /* 4 recuadros verticales */
    .dash-card-x4 {
        @apply col-span-4;
    }

    /* 1 recuadro vertical */
    .dash-card-y1 {
        /* h-20 = 5rem */
        height: calc(5rem * 1);
        /*@apply row-span-1;*/
    }

    /* 2 recuadros verticales */
    .dash-card-y2 {
        height: calc(5rem * 2 + 1rem);
        /*@apply row-span-2;*/
    }

    /* 3 recuadros verticales */
    .dash-card-y3 {
        height: calc(5rem * 3 + 2rem);
        /*@apply row-span-3;*/
    }

    /* 4 recuadros verticales */
    .dash-card-y4 {
        height: calc(5rem * 4 + 3rem);
        /*@apply row-span-4;*/
    }

    
}

.cdk-drag-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }