<header class="grid grid-cols-3 gap-4 bg-red-700 shadow-lg">
    <!--Logo-->
    <div class="py-2.5 px-10">
        <div class="h-10 bg-white rounded-3xl">
            <img 
            src="http://www.gsanborns.com.mx/images/logos/logo_Sanborns.png" 
            alt="logo_sanborns"
            class="object-contain w-full h-full">
        </div>
    </div>
    <!--Titulo-->
    <div class="p-2.5">
        <h1 class="text-center text-white text-xl font-thin p-2">Expediente Personal</h1>
    </div>
    <!--Buscador-->
    <div class="p-2.5">
        <app-buscador></app-buscador>
    </div>
</header>
