<header class="flex flex-col shadow-lg">
    <div class="bg-red-700 flex flex-col md:flex-row ">
        <!--Logo-->
        <div class="p-4 m-auto w-32 md:flex-none md:m-0">
            <div class="h-10 bg-white elipse p-1.5">
                <img 
                src="http://www.gsanborns.com.mx/images/logos/logo_Sanborns.png" 
                alt="logo_sanborns"
                class="object-contain w-full h-full">
            </div>
        </div>
        <!--Titulo-->
        <div id="titulo-lg" class="flex items-center w-full p-2 md:mr-20 md:flex-none md:w-auto">
            <h1 class="text-left text-white text-xl font-light font-sans">Expediente Digital</h1>
        </div>
        <!--Buscador-->
        <div id="buscador-lg" class="flex items-center grow hidden px-2.5 md:flex">
            <app-search-bar class="w-full"></app-search-bar>
        </div>
    </div>
    <!--Buscador-->
    <div id="buscador-lg" class="w-full p-2.5 block md:hidden ">
        <app-search-bar></app-search-bar>
    </div>
</header>
