<div class="Card">
    <h2>{{empleado.nombre}}</h2>
    <table>
        <tr>
            <td><strong>No. Empleado:</strong></td>
            <td>{{empleado.numeroEmpleado}}</td>
        </tr>
        <tr>
            <td><strong>Compañía:</strong></td>
            <td>{{empleado.compania}}</td>
        </tr>
        <tr>
            <td><strong>Area:</strong></td>
            <td>{{empleado.area}}</td>
        </tr>
        <tr>
            <td><strong>Unidad:</strong></td>
            <td>{{empleado.unidad}}</td>
        </tr>
        <tr>
            <td><strong>Departamento:</strong></td>
            <td>{{empleado.departamento}}</td>
        </tr>
        <tr>
            <td><strong>Puesto:</strong></td>
            <td>{{empleado.puesto}}</td>
        </tr>
    </table>
</div>
